thead {
  position: sticky;
  top: 4rem;
  background-color: #a593eb;
}
nav {
  background-color: #2b184d;
  margin-bottom: 25px;
  height: 4rem;
}
body {
  margin-bottom: 50px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2b184d;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
.flags {
  border: black solid 1px;
  max-width: 100px;
}
